body {
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bb/St-Anne_church_Krakow_003.JPG'); */
}

.interactive {
    display: flex;
    flex-direction: column;
}

.scoreboard {
    text-align: right;
    margin: 0px 50px 0px 0px;
}

.question {
    flex-wrap: wrap;
    max-width: 50%;
}

h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 65px;
}