.gamePage {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url('./wp4132602.jpg');
    background-position: center;
    background-size: 2560px;
    font-family: 'Cinzel', serif;
}

.question {
    flex-wrap: wrap;
    max-width: 50%;
    text-align: center;
    border-radius: 25px;
    background: antiquewhite;
    width: 400px;
    height: 190px;
    padding: 10px 25px 10px 25px;
    display: inline-block;
}

#mainTitle {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 65px;
    color: black;
    text-shadow: 5px 5px antiquewhite;
    padding: 0px 0px -50px 0px;
    margin: 15px 0px 0px 0px;
}

input {
    padding: 15px;
    font-size: 25px;
    font-family: 'Tangerine', serif;
    background-color: antiquewhite;
}

h2, h3, h4 {
    color: antiquewhite;
}

#input_id {
    font-family: 'Bodoni Moda', serif;
    font-size: 17px;
}

.directionsPage {
    background-image: url('./0*xmCTpUBavZUx58cP.jpg');
    background-position: unset;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: black;
    font-family: 'Cinzel', serif;
}

#directTitle {
    font-size: 65px;
    color: white;
    text-shadow: 5px 5px black;
    font-family: 'UnifrakturMaguntia', cursive;
}

