body {
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bb/St-Anne_church_Krakow_003.JPG');
    background-position: center;
}

/* .interactive {
    display: flex;
    flex-direction: column;
} */

.question {
    flex-wrap: wrap;
}

h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 65px;
    color: black;
    text-shadow: 2px 2px white;
}

.startGame {
    max-width: max-content;
    flex-wrap: nowrap;
}

p {
    background-color: white;
    background-size: 75%;
    /* max-width: 75%; */
    padding: 0px 25px 100px 25px;
}